services:
  redis:
    image: redis:latest
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"

  ratelimiter:
    build: .
    volumes:
      - ./.env:/app/.env
    ports:
      - "8080:8080"
    depends_on:
      - redis
